@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

body {
  background-color: #fbfbfb;
}

@font-face {
  font-family: "NATS";
  src: url("/fonts/NATS-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-nats: "NATS", sans-serif;
  --font-rajdhani: "Rajdhani", sans-serif;
  --shadow-containers: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
